$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

// defaults and cross branding

$brandwhite: #fafafa;
$brandpurple: #9b59b6;
$brandyellow: #f4d03f;
$brandgrey: #444444;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
	font-family: 'Exo', sans-serif;
	background-image: url('../images/crossed_stripes.png');
	background-repeat: repeat;
}

.signup {	
	padding: 30px 15px;
	background: $brandwhite;
	float: none;
	margin: auto auto;
	overflow: hidden;
  text-align: center;
  box-shadow: 0px 0px 15px $brandpurple;
  
  h1 {
  	strong {
	  	color: $brandpurple;
  	}
		color: $brandgrey;
  	margin: 0px;
  	font-size: 68px;
  	font-weight: 900;
  }
  
  h3 {
  	small {
  		font-size: 14px;
  		text-transform: uppercase;
  		strong {
  			color: $brandyellow;
	  		&:hover {
	  			cursor: pointer;
		  		color: $brandpurple;
	  		}		
  		}
  	}
  }

  .creds {   
  	font-size: 18px;
  	margin: 15px 0;
  	padding: 10px;
  	border-radius: 0px;  

  	&.checkbox { 
  		margin: 0px;
  		margin-bottom: 15px;
  		padding: 0px;
  		font-size: 14px;
  		text-align: left;
  		padding-left: 20px;
  	}

  	&.btn {
  		text-transform: uppercase;
  		background: $brandpurple;
  		color: $brandwhite;
  		text-align: right;
			font-weight: bold;
			font-size: 24px;

  		&:hover {
  			outline: 2px solid $brandpurple;
  			background: $brandwhite;
  			color: $brandpurple;
  		}
  	}
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }    
}
